<div class="container mt-4">
    <div class="admin-home">
        <header class="mb-4 pb-2 border-bottom">
            <h1>Bienvenido Encuestador <span class="admin-name">{{ name }}</span></h1>
            <nav>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="/sistema-mediciones/pollster/register-survey" class="btn btn-primary btn-sm text-decoration-none d-block">Crear Evaluación</a>
                    </li>
                    <li>
                        <a href="/sistema-mediciones/pollster/view-survey" class="btn btn-secondary btn-sm text-decoration-none d-block">Ver Lista de Evaluaciones</a>
                    </li>
                </ul>
            </nav>
            <div class="float-right">
                <button (click)="logout()" class="btn btn-secondary">
                    <mat-icon>exit_to_app</mat-icon> 
                    Cerrar Sesión
                </button>
            </div>
            <div class="clearfix"></div>
        </header>
    </div>
</div>





