<div class="wrapper">
  <header class="bg-image">
    <div class="container-fluid text-center text-white py-5">
    </div>
  </header>

  <main>
    <nav>
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container my-5">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

<footer>
  <p>&copy; 2023 - Direccion de Vinculación con la Sociedad</p>
</footer>

