
.bg-image {
  background-image: url('../assets/vinculacionTi.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  max-width: 100%;

}

 
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; 
}

footer {
  flex-shrink: 0; 
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  height: 35px; 
}
