
.bg-image {
    background-image: url('../assets/he.png');
    background-size: cover;
    background-position: center;
    height: auto;
    width: auto;
  }
  
  
  .bg-image h1 {
    font-size: 3rem;
  }
  

  .nav-link {
    cursor: pointer;
  }
  

  