
<header class="bg-image">
  <div class="container-fluid text-center text-white py-5">
  </div>
</header>
            <!--

 <ng-container *ngIf="!loggedIn(); else loggedInSection">
            <a routerLink="/sistema-mediciones/login" class="nav-link"></a>
          </ng-container>
          <ng-template #loggedInSection>
            <a class="nav-link text-danger" (click)="logout()" style="cursor: pointer;">Cerrar Sesión</a>
          </ng-template>     
            -->
              
  
    <router-outlet></router-outlet>
 
  

