<div class="container mt-3">
    <h2 class="text-center mb-4">Listado de Evaluaciones</h2>
  
    <ng-container *ngIf="viewJobP.length > 0; else loading">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>ID Puesto de Trabajo</th>
            <th>Departamento/Área</th>
            <th>Campus</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let position of getPaginatedData()">
            <td>{{ position.puesto_trabajo }}</td>
            <td>{{ position.departamento }}</td>
            <td>{{ position.nombre_campus }}</td>
           
            <td>
              <button class="btn btn-sm" style="background-color: #3c5e4e; color: white;" (click)="openEvaluationWindow(position)">Ver Evaluación</button>
            </td>
          </tr>
        </tbody>
      </table>
  
      <div class="container text-center">
        <button [disabled]="currentPage === 1" class="btn btn-sm btn-primary mr-2" (click)="previousPage()">Anterior</button>
        <button [disabled]="currentPage === totalPages" class="btn btn-sm btn-primary" (click)="nextPage()">Siguiente</button>
        <p class="mt-2">Mostrando {{ firstItemOnPage }} - {{ lastItemOnPage }} de {{ viewJobP.length }}</p>
      </div>
    </ng-container>
  
    <ng-template #loading>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th colspan="5" class="text-center">
              <h4>Cargando datos...</h4>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="!viewJobP || viewJobP.length === 0">
            <td colspan="5" class="text-center">
              Espere un momento
              <div *ngIf="messageError">
                {{ messageError }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
    
  </div>
  
