<div class="container mt-4">
  <div class="admin-home">
    <header class="mb-4 pb-2 border-bottom d-flex justify-content-between align-items-center">
      <div>
        <h1>Bienvenido/a, Administrador/a <span class="admin-name">{{ name }}</span></h1>
        <nav class="d-flex"> 
          <ul class="list-unstyled d-flex">
            <li class="mr-3">
              <a routerLink="/sistema-mediciones/admin/register-pollster" class="text-decoration-none btn btn-primary">Crear Encuestador</a>
            </li>
            <li>
              <a routerLink="/sistema-mediciones/admin/view-surveys" class="text-decoration-none btn btn-secondary">Ver Lista de Evaluaciones</a>
            </li>
          </ul>
        </nav>
      </div>
      <div> 
        <button (click)="logout()" class="btn btn-secondary">
          <mat-icon>exit_to_app</mat-icon> 
          Cerrar Sesión
        </button>
      </div>
    </header>
  </div>
</div>



