<div class="container mt-4">
  <div class="admin-home">
    <header class="mb-4 pb-2 border-bottom">
      <h1>Bienvenido Administrador <span class="admin-name">{{ name }}</span></h1>
      <nav>
        <ul class="list-unstyled d-flex">
          <li class="mr-3">
            <a routerLink="/sistema-mediciones/admin/register-pollster" class="text-decoration-none btn btn-primary">Crear Encuestador</a>
          </li>
          <li>
            <a routerLink="/sistema-mediciones/admin/view-pollsters" class="text-decoration-none btn btn-secondary">Ver Lista de Encuestadores</a>
          </li>
       
        </ul>
      </nav>
    </header>
  </div>
</div>
